@font-face {
	font-family: 'Lato';
	src: url('/fonts/LatoLatin-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/LatoLatin-Italic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/LatoLatin-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/LatoLatin-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
	font-display: swap;

}



@font-face {
	font-family: 'Myriad';
	src: url('/fonts/MyriadPro-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad';
	src: url('/fonts/MyriadPro-It.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad';
	src: url('/fonts/MyriadPro-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad';
	src: url('/fonts/MyriadPro-BoldIt.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
	font-display: swap;
}





