*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
	margin: 0;
}
ul[role="list"], ul[class], 
ol[role="list"], ol[class] {
	list-style: none;
}

ul:not([class]),
ol:not([class]) {
	padding-inline-start: 2em;
}
ul[class], ol[class] {
	padding-inline-start: 0;
}
html:focus-within {
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
			scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
	}
}