*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

ul[role=list], ul[class],
ol[role=list], ol[class] {
  list-style: none;
}

ul:not([class]),
ol:not([class]) {
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
}

ul[class], ol[class] {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("/resources/fonts/LatoLatin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/resources/fonts/LatoLatin-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/resources/fonts/LatoLatin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/resources/fonts/LatoLatin-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Myriad";
  src: url("/resources/fonts/MyriadPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad";
  src: url("/resources/fonts/MyriadPro-It.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad";
  src: url("/resources/fonts/MyriadPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Myriad";
  src: url("/resources/fonts/MyriadPro-BoldIt.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}
:root {
  /* colors */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-lite: hsl(0, 0%, 94%);
  --color-primary: hsl(218, 100%, 33%);
  --color-primary-lite: hsl(212, 68%, 40%);
  --color-secondary: hsl(150, 65%, 36%);
  --color-secondary-lite: hsl(156, 100%, 34%);
}

:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
  --font-body: Lato, var(--font-system);
  --font-heading: Myriad, var(--font-system);
  --line-height: 1.5;
  --line-height-sm: 1.25;
  --ratio: 1.25;
  --s0: 1rem;
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
}

:root {
  /* Spacing */
  --f0: 1em;
  --f-1: calc(var(--f0) / var(--ratio));
  --f1: calc(var(--f0) * var(--ratio));
  --f2: calc(var(--f1) * var(--ratio));
  --f3: calc(var(--f2) * var(--ratio));
  --f4: calc(var(--f3) * var(--ratio));
  --f5: calc(var(--f4) * var(--ratio));
  --flow-0: 0;
  --flow-xs: var(--f-1);
  --flow-sm: var(--f0);
  --flow-md: var(--f1);
  --flow-lg: var(--f2);
  --flow-xl: var(--f3);
  --flow-xxl: var(--f4);
  --flow-xxxl: var(--f5);
  --gap-0: 0;
  --gap-xs: calc(var(--s0) / 1.5);
  --gap-sm: var(--s0);
  --gap-md: calc(var(--s0) * 1.5);
  --gap-lg: calc(var(--s0) * 3);
  --gap-xl: calc(var(--s0) * 4);
  --gap-xxl: calc(var(--s0) * 5);
  --gutter: var(--gap-md);
}

:root {
  /* Misc */
  --transition-all: 250ms ease all;
  --transition-fill: 250ms ease fill;
  --border-line: Max(1px, .1em);
  --radius-rounded: 0.25em;
  --radius-pill: 999em;
  --radius-circle: 50%;
}

html {
  font-size: calc(0.1vw + 0.1vh + 1em);
}

body {
  font-family: var(--font-body);
  background: var(--color-lite);
  color: var(--color-black);
  line-height: var(--line-height);
  position: relative;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:visited {
  color: var(--color-primary);
}
a:hover, a:focus {
  color: var(--color-secondary);
}
a:active {
  color: var(--color-secondary);
}
a svg {
  transition: var(--transition-fill);
}

h1,
.h1 {
  font-size: var(--s4);
  line-height: var(--line-height-sm);
}

h2,
.h2 {
  font-size: var(--s3);
  line-height: var(--line-height-sm);
}

h3,
.h3 {
  font-size: var(--s2);
  line-height: inherit;
}

h4,
.h4 {
  font-size: var(--s1);
  line-height: inherit;
}

h5,
.h5 {
  font-size: var(--s);
  line-height: inherit;
}

.h6 {
  font-size: var(--s-1);
  line-height: inherit;
}

hr {
  height: var(--border-line);
  background: var(--color-subtle-mute);
  border: 0;
}

.container {
  max-width: 75rem;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
}

.row {
  --half-gutter: calc(var(--gutter) / 2);
  gap: var(--gutter);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

[class*=col-] {
  width: 100%;
  flex: 0 0 auto;
  background-color: yellow;
  min-height: 50px;
}

.col-1 {
  width: calc(8.3333333333% + (-1 * var(--half-gutter)));
}

.col-2 {
  width: calc(16.6666666667% + (-1 * var(--half-gutter)));
}

.col-3 {
  width: calc(25% + (-1 * var(--half-gutter)));
}

.col-4 {
  width: calc(33.3333333333% + (-1 * var(--half-gutter)));
}

.col-5 {
  width: calc(41.6666666667% + (-1 * var(--half-gutter)));
}

.col-6 {
  width: calc(50% + (-1 * var(--half-gutter)));
}

.col-7 {
  width: calc(58.3333333333% + (-1 * var(--half-gutter)));
}

.col-8 {
  width: calc(66.6666666667% + (-1 * var(--half-gutter)));
}

.col-9 {
  width: calc(75% + (-1 * var(--half-gutter)));
}

.col-10 {
  width: calc(83.3333333333% + (-1 * var(--half-gutter)));
}

.col-11 {
  width: calc(91.6666666667% + (-1 * var(--half-gutter)));
}

.col-12 {
  width: calc(100% + (-1 * var(--half-gutter)));
}

.xs\:col-1 {
  width: calc(8.3333333333% + (-1 * var(--half-gutter)));
}

.xs\:col-2 {
  width: calc(16.6666666667% + (-1 * var(--half-gutter)));
}

.xs\:col-3 {
  width: calc(25% + (-1 * var(--half-gutter)));
}

.xs\:col-4 {
  width: calc(33.3333333333% + (-1 * var(--half-gutter)));
}

.xs\:col-5 {
  width: calc(41.6666666667% + (-1 * var(--half-gutter)));
}

.xs\:col-6 {
  width: calc(50% + (-1 * var(--half-gutter)));
}

.xs\:col-7 {
  width: calc(58.3333333333% + (-1 * var(--half-gutter)));
}

.xs\:col-8 {
  width: calc(66.6666666667% + (-1 * var(--half-gutter)));
}

.xs\:col-9 {
  width: calc(75% + (-1 * var(--half-gutter)));
}

.xs\:col-10 {
  width: calc(83.3333333333% + (-1 * var(--half-gutter)));
}

.xs\:col-11 {
  width: calc(91.6666666667% + (-1 * var(--half-gutter)));
}

.xs\:col-12 {
  width: calc(100% + (-1 * var(--half-gutter)));
}

@media (min-width: 48rem) {
  .sm\:col-1 {
    flex-basis: calc(8.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(8.3333333333% + (-1 * var(--half-gutter)));
  }

  .sm\:col-2 {
    flex-basis: calc(16.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(16.6666666667% + (-1 * var(--half-gutter)));
  }

  .sm\:col-3 {
    flex-basis: calc(25% + (-1 * var(--half-gutter)));
    max-width: calc(25% + (-1 * var(--half-gutter)));
  }

  .sm\:col-4 {
    flex-basis: calc(33.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(33.3333333333% + (-1 * var(--half-gutter)));
  }

  .sm\:col-5 {
    flex-basis: calc(41.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(41.6666666667% + (-1 * var(--half-gutter)));
  }

  .sm\:col-6 {
    flex-basis: calc(50% + (-1 * var(--half-gutter)));
    max-width: calc(50% + (-1 * var(--half-gutter)));
  }

  .sm\:col-7 {
    flex-basis: calc(58.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(58.3333333333% + (-1 * var(--half-gutter)));
  }

  .sm\:col-8 {
    flex-basis: calc(66.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(66.6666666667% + (-1 * var(--half-gutter)));
  }

  .sm\:col-9 {
    flex-basis: calc(75% + (-1 * var(--half-gutter)));
    max-width: calc(75% + (-1 * var(--half-gutter)));
  }

  .sm\:col-10 {
    flex-basis: calc(83.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(83.3333333333% + (-1 * var(--half-gutter)));
  }

  .sm\:col-11 {
    flex-basis: calc(91.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(91.6666666667% + (-1 * var(--half-gutter)));
  }

  .sm\:col-12 {
    flex-basis: calc(100% + (-1 * var(--half-gutter)));
    max-width: calc(100% + (-1 * var(--half-gutter)));
  }
}
@media (min-width: 62rem) {
  .md\:col-1 {
    flex-basis: calc(8.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(8.3333333333% + (-1 * var(--half-gutter)));
  }

  .md\:col-2 {
    flex-basis: calc(16.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(16.6666666667% + (-1 * var(--half-gutter)));
  }

  .md\:col-3 {
    flex-basis: calc(25% + (-1 * var(--half-gutter)));
    max-width: calc(25% + (-1 * var(--half-gutter)));
  }

  .md\:col-4 {
    flex-basis: calc(33.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(33.3333333333% + (-1 * var(--half-gutter)));
  }

  .md\:col-5 {
    flex-basis: calc(41.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(41.6666666667% + (-1 * var(--half-gutter)));
  }

  .md\:col-6 {
    flex-basis: calc(50% + (-1 * var(--half-gutter)));
    max-width: calc(50% + (-1 * var(--half-gutter)));
  }

  .md\:col-7 {
    flex-basis: calc(58.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(58.3333333333% + (-1 * var(--half-gutter)));
  }

  .md\:col-8 {
    flex-basis: calc(66.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(66.6666666667% + (-1 * var(--half-gutter)));
  }

  .md\:col-9 {
    flex-basis: calc(75% + (-1 * var(--half-gutter)));
    max-width: calc(75% + (-1 * var(--half-gutter)));
  }

  .md\:col-10 {
    flex-basis: calc(83.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(83.3333333333% + (-1 * var(--half-gutter)));
  }

  .md\:col-11 {
    flex-basis: calc(91.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(91.6666666667% + (-1 * var(--half-gutter)));
  }

  .md\:col-12 {
    flex-basis: calc(100% + (-1 * var(--half-gutter)));
    max-width: calc(100% + (-1 * var(--half-gutter)));
  }
}
@media (min-width: 75rem) {
  .lg\:col-1 {
    flex-basis: calc(8.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(8.3333333333% + (-1 * var(--half-gutter)));
  }

  .lg\:col-2 {
    flex-basis: calc(16.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(16.6666666667% + (-1 * var(--half-gutter)));
  }

  .lg\:col-3 {
    flex-basis: calc(25% + (-1 * var(--half-gutter)));
    max-width: calc(25% + (-1 * var(--half-gutter)));
  }

  .lg\:col-4 {
    flex-basis: calc(33.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(33.3333333333% + (-1 * var(--half-gutter)));
  }

  .lg\:col-5 {
    flex-basis: calc(41.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(41.6666666667% + (-1 * var(--half-gutter)));
  }

  .lg\:col-6 {
    flex-basis: calc(50% + (-1 * var(--half-gutter)));
    max-width: calc(50% + (-1 * var(--half-gutter)));
  }

  .lg\:col-7 {
    flex-basis: calc(58.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(58.3333333333% + (-1 * var(--half-gutter)));
  }

  .lg\:col-8 {
    flex-basis: calc(66.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(66.6666666667% + (-1 * var(--half-gutter)));
  }

  .lg\:col-9 {
    flex-basis: calc(75% + (-1 * var(--half-gutter)));
    max-width: calc(75% + (-1 * var(--half-gutter)));
  }

  .lg\:col-10 {
    flex-basis: calc(83.3333333333% + (-1 * var(--half-gutter)));
    max-width: calc(83.3333333333% + (-1 * var(--half-gutter)));
  }

  .lg\:col-11 {
    flex-basis: calc(91.6666666667% + (-1 * var(--half-gutter)));
    max-width: calc(91.6666666667% + (-1 * var(--half-gutter)));
  }

  .lg\:col-12 {
    flex-basis: calc(100% + (-1 * var(--half-gutter)));
    max-width: calc(100% + (-1 * var(--half-gutter)));
  }
}
.site-header {
  position: relative;
  background-color: var(--color-secondary);
}
.site-header > * {
  color: var(--color-white);
}

.site-nav a {
  font-weight: bold;
  color: var(--color-lite);
}
.site-nav a:hover, .site-nav a:focus {
  color: var(--color-white);
}
.site-nav a:active {
  color: var(--color-white);
}

:root {
  --grid-header-col: 1fr 1fr 2fr 1fr 12.5vw;
  --grid-header-row: auto 1rem;
}

@media (min-width: 62rem) {
  .header-container {
    display: grid;
    text-align: center;
    grid-template-columns: var(--grid-header-col);
    position: relative;
  }
}

@media (min-width: 62rem) {
  .site-brand {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    place-items: center;
  }
}

@media (min-width: 62rem) {
  .site-logo {
    padding: var(--s2) var(--s4);
    display: inline-block;
  }
}

.site-logo > svg {
  fill: var(--color-white);
}

@media (min-width: 62rem) {
  .site-logo {
    box-shadow: 0 0 0 1rem var(--color-secondary), 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0.5rem;
    z-index: 2;
  }
  .site-logo::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 62rem) {
  .site-nav {
    grid-column: 1/-1;
    grid-row: 1;
  }
}

@media (min-width: 62rem) {
  .site-nav-list {
    height: 100%;
    display: grid;
    grid-template-columns: var(--grid-header-col);
  }
}

@media (min-width: 62rem) {
  .site-nav-list li:last-child {
    grid-column: 4/5;
  }
}

@media (min-width: 62rem) {
  .site-nav-item {
    height: 100%;
  }
}

@media (min-width: 62rem) {
  .site-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.sr-only, .skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  top: 0;
}

.skip-link:focus {
  border-radius: 0;
  position: absolute;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 102;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-lite {
  background-color: var(--color-lite);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

.embed {
  height: 0;
  width: 100%;
  position: relative;
}

.embed > * {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.embed > img, .embed > picture {
  -o-object-fit: cover;
     object-fit: cover;
}

.embed-wide {
  padding-top: calc(9 / 16 * 100%);
}

.embed-sq {
  padding-top: calc(1 / 1 * 100%);
}

.embed-rect {
  padding-top: calc(4 / 6 * 100%);
}

.section-sm {
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-sm);
}

.section-md {
  padding-top: var(--gap-md);
  padding-bottom: var(--gap-md);
}

.section-lg {
  padding-top: var(--gap-lg);
  padding-bottom: var(--gap-lg);
}

.section-xl {
  padding-top: var(--gap-xl);
  padding-bottom: var(--gap-xl);
}

.section-xxl {
  padding-top: var(--gap-xxl);
  padding-bottom: var(--gap-xxl);
}

.flow-v-xs > * + * {
  margin-top: var(--flow-xs);
}

.flow-v-sm > * + * {
  margin-top: var(--flow-sm);
}

.flow-v-md > * + * {
  margin-top: var(--flow-md);
}

.flow-v-lg > * + * {
  margin-top: var(--flow-lg);
}

.flow-v-xl > * + * {
  margin-top: var(--flow-xl);
}

.flow-v-xxl > * + * {
  margin-top: var(--flow-xxl);
}

.flow-v-xxxl > * + * {
  margin-top: var(--flow-xxxl);
}

.flow-xxs {
  margin-top: var(--flow-xxs);
}

.flow-xs {
  margin-top: var(--flow-xs);
}

.flow-sm {
  margin-top: var(--flow-sm);
}

.flow-md {
  margin-top: var(--flow-md);
}

.flow-lg {
  margin-top: var(--flow-lg);
}

.flow-xl {
  margin-top: var(--flow-xl);
}

.flow-xxl {
  margin-top: var(--flow-xxl);
}

.flow-xxxl {
  margin-top: var(--flow-xxxl);
}

.flow-0 {
  margin-top: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.gap-0 {
  --gap: var(--gap-0);
}

.gap-xs {
  --gap: var(--gap-xs);
}

.gap-sm {
  --gap: var(--gap-sm);
}

.gap-md {
  --gap: var(--gap-md);
}

.gap-lg {
  --gap: var(--gap-lg);
}

.gap-xl {
  --gap: var(--gap-xl);
}

.link-block {
  position: static;
}
.link-block::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.max-width-xxs {
  max-width: 18rem;
}

.max-width-xs {
  max-width: 36rem;
}

.max-width-sm {
  max-width: 48rem;
}

.max-width-md {
  max-width: 62rem;
}

.max-width-lg {
  max-width: 75rem;
}

[class*=stick-] {
  position: sticky;
  z-index: 2;
}

.stick-top {
  position: sticky;
  z-index: 2;
  top: var(--gutter);
  align-self: start;
}

.stick-bottom {
  position: sticky;
  z-index: 2;
  bottom: var(--gutter);
  align-self: end;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.txt-font-body {
  font-family: var(--font-body);
}

.txt-font-heading {
  font-family: var(--font-heading);
}

.txt-white {
  color: var(--color-white);
}

.txt-black {
  color: var(--color-black);
}

.txt-lite {
  color: var(--color-lite);
}

.txt-primary {
  color: var(--color-primary);
}

.txt-primary-dark {
  color: var(--color-primary-dark);
}

.txt-secondary {
  color: var(--color-secondary);
}

.txt-secondary-dark {
  color: var(--color-secondary-dark);
}

/*# sourceMappingURL=app.css.map*/