.btn {
		display: inline-flex;
		vertical-align: middle;
		padding: var(--s-2) var(--s4);

		// @extend .txt-font-body;
		@extend .txt-uppercase;
		font-weight: bold;
		border-radius: var(--radius-rounded);

		text-decoration: none;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		text-align: center;

		-webkit-appearance: none;
		-moz-appearance: none;
		border: var(--border-line-thick) solid transparent;
		position: relative;

		&:active {
				transform: scale(0.96);
		}
}

.btn-primary {
		&:link {
				color: var(--color-white);
				background: var(--color-primary);
				border-color: var(--color-primary);
		}

		&:visited {
				color: var(--color-white);
				background: var(--color-primary);
				border-color: var(--color-primary);
		}
		&:hover,
		&:focus-within {
				color: var(--color-primary);
				background: var(--color-white);
				border-color: var(--color-primary);
		}
}

.btn-primary-outline {
	&:link {
			color: var(--color-primary);
			background: transparent;
			border-color: var(--color-primary);
	}

	&:visited {
			color: var(--color-primary);
			background: transparent;
			border-color: var(--color-primary);
	}
	&:hover,
	&:focus-within {
			color: var(--color-white);
			background: var(--color-primary);
			border-color: var(--color-primary);
	}
}




.btn-secondary {
	&:link {
			color: var(--color-white);
			background: var(--color-secondary);
			border-color: var(--color-secondary);
	}

	&:visited {
			color: var(--color-white);
			background: var(--color-secondary);
			border-color: var(--color-secondary);
	}
	&:hover,
	&:focus-within {
			color: var(--color-secondary);
			background: var(--color-white);
			border-color: var(--color-secondary);
	}
}

.btn-secondary-outline {
&:link {
		color: var(--color-secondary);
		background: transparent;
		border-color: var(--color-secondary);
}

&:visited {
		color: var(--color-secondary);
		background: transparent;
		border-color: var(--color-secondary);
}
&:hover,
&:focus-within {
		color: var(--color-white);
		background: var(--color-secondary);
		border-color: var(--color-secondary);
}
}
