

.bg-white {
	background-color: var(--color-white);
}

.bg-black {
	background-color: var(--color-black);
}

.bg-lite {
	background-color: var(--color-lite);
}



.bg-primary {
	background-color: var(--color-primary);
}

.bg-primary-dark {
	background-color: var(--color-primary-dark);
}

.bg-secondary {
	background-color: var(--color-secondary);
}

.bg-secondary-dark {
	background-color: var(--color-secondary-dark);
}



