.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}

.txt-uppercase {
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: normal;
}

.txt-font-body {
	font-family: var(--font-body);
}

.txt-font-heading {
	font-family: var(--font-heading);
}

// text color

.txt-color-white {
	color: var(--color-white);
}

.txt-color-black {
	color: var(--color-black);
}

.txt-color-lite {
	color: var(--color-lite);
}

.txt-color-primary {
	color: var(--color-primary);
}

.txt-color-primary-dark {
	color: var(--color-primary-dark);
}

.txt-color-secondary {
	color: var(--color-secondary);
}

.txt-color-secondary-dark {
	color: var(--color-secondary-dark);
}
